
.bubble 
{
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 8px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 14px 0 14px 100px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -14px;
right: -100px;
top: 50%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 21px 0 21px 107px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -21px;
right: -115px;
top: 50%;
}
